body{
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(45deg,deeppink,violet,orangered);
    text-align: center;
}
figure{
    border: 5px solid red;
    width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
}
figure:hover{
    box-shadow: 0 0 10px white;
}
figure img{
    width: 100%;
    border-radius: 10px;
    margin: 5px;
    height: 200px;
}
figure figcaption{
    background: linear-gradient(45deg,orangered, deeppink);
    border-radius: 10px;
    box-shadow: 0 0 10px black;

}
.head{
    color: white;
}
.footer{
    text-align: center;
    color: white;
    padding: 10px;
}